#selectedPart1
{
    height: 100%;
    width: 25%;
}

#selectedPart2
{
    height: 50%;
    width: 50%;
    border-color: black;
    border-style: solid;
    margin-top: 4%;
}

#selectedPart3
{
    height: 50%;
    width: 25%;
}

#selectedLabel
{
    text-align: center;
}

#selectedDetails
{
    text-align: left;
    padding: 1%;
}

#selectedCenter
{
    text-align: center;
}

.txtBox
{
    margin: 1px;
}