#selectedAssetPart1
{
    height: 100%;
    width: 25%;
}

#selectedAssetPart2
{
    height: 50%;
    width: 50%;
    border-color: black;
    border-style: solid;
    margin-top: 4%;
}

#selectedAssetPart3
{
    height: 50%;
    width: 25%;
}

#selectedAssetLabel
{
    text-align: center;
}

#selectedAssetDetails
{
    text-align: left;
    padding: 1%;
}