#box1{
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    height: 600px;
    width: 400px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#box2{
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    width: 400px;
    height: 600px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#box3{
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    height: 600px;
    width: 400px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#box4{
    float: left;
    margin-left: 3%;
    margin-top: 1%;

}
#addbox1{
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    height: 300px;
    width: 400px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#addbox2{
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    width: 400px;
    height: 300px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#addbox3{
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    height: 300px;
    width: 350px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#addbox4{
    float: left;
    margin-left: 3%;
    margin-top: 1%;

}


.addAstChecklist{
    margin-top: 1%;
    margin-left: 1%;
}













#addUserBox1{
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    height: 500px;
    width: 400px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#addUserBox2{
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    width: 400px;
    height: 500px;

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#addUserbox4{
    float: right ;
    margin-right: 15%;
    margin-top: 15%;

}


.addUserChecklist{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 17%;
}